*{
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
}


.navebar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.navbar-items{
    display: flex;
    gap: 5px;
    align-items: center;
}
.burgur-logo{
    width: 5%;
}
.dilivery-boy{
    width: 50px;
}
.navbar-second{

    margin-left:70%;
}
.navbar-second a{
    margin: 20px;
    margin-top: 5px;
    text-decoration: none;
    color: #000000;
    font-size: larger;
    cursor: pointer;

}
.banner-para{
    width: 24%;
    padding: 10px;
    color: #5f4603;
    border:  2px dashed #5f4603;
    text-transform: capitalize;
}
.banner-hadding{
   color:#5f4603;
   font-size: 50px;
   /* line-height: 40px; */
   text-shadow: 4px 4px 1px white ;
}
 .banner-main-hadding{
    font-size: 120px;
}
 .banner-txt{
    padding-bottom: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10%;
    margin-left: 4%;
}
 .white-shado{
    width: 300px;
    height: 300px;
    border-radius: 100px;
    background-color: white;
    filter: blur(100px);
    position: absolute;
    top: 30%;
    left: 60%;
}
 .banner-burger{
    width: 25%;
    position: absolute;
    top: 40%;
    left: 60%;
}
.banner-chips{
    rotate: -30deg;
    width: 15%;
    position: absolute;
    top: 30%;
    left: 55%;
}
 .banner-drink{
    width: 10%;
    position: absolute;
    top: 25%;
    left:80%;
}
.shadwo{
    width: 150px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000cb;
    filter: blur(12px);
    position: absolute;
    top: 84%;
    left:80%;
}
.shadwooo{
    width: 250px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000cb;
    filter: blur(12px);
    position: absolute;
    top: 86%;
    left:65%;
}
.main-section-one{
    display: flex;
    gap: 50px;
    align-items: center;
}
.main-section-one-image-onae{
    margin: 60px 0px 0px 60px;
    width: 50%;
}
.right-image-div{
    width: 500px;
    display: flex;
    margin-top: 60px;
    gap: 80px;
    flex-direction: column;
}
.right-image-div img{
    width: 120%;
}
.txt-one{
    /* width: 100px; */
    margin-top: -500px;
    font-size: 30px;
    margin-left: 100px;
    text-transform:capitalize ;
    color: #ffffff;
} 
.txt-two{
    margin-left: 100px;
    font-size: 40px;
    color: #ffffff;
    text-transform:capitalize ;
}
.txt-three{
    /* width: 100px; */
    margin-top: -60px;
    font-size: 20px;
    margin-left: 900px;
    text-transform:capitalize ;
    color: #ffffff;
} 
.txt-four{
    width: 180px;
    margin-left: 900px;
    font-size: 30px;
    color: #ffffff;
    text-transform:capitalize ;
}
.txt-five{
    /* width: 100px; */
    margin-top: 200px;
    font-size: 20px;
    margin-left: 900px;
    text-transform:capitalize ;
    color: #ffffff;
} 
.txt-six{
    margin-left: 900px;
    font-size: 30px;
    color: #ffffff;
    text-transform:capitalize ;
}
.main-section-two-hadding{
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 200px;
    color: #000000;
    width: 145px;
    margin-left: 45%;
    background-color: rgb(255, 221, 0);
}
.main-section-two-para{
    text-align: center;
    margin-top: 40px;
    /* text-transform: uppercase; */
}
.main-section-two-para-2{
    text-align: center;
    /* margin-top: 10px; */
    /* text-transform: uppercase; */
}
.main-section-two-hadding-bold{
    line-height: 10px;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
}
.content-image{
    width: 60%;
}
.content-images-and-text-shadwo{
    width: 150px;
    height: 20px;
    border-radius: 50%;
    background-color: #000000cb;
    filter: blur(15px);
    margin-top: -10px;
    margin-left: 23px;
}
.content-images-and-text p{
    text-align: center;

}
.content-images-and-text button{
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: red;
    color: #ffffff;
    border: none;
}
.content-images-and-text{
    margin-top: 50px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.content-images-and-text h1{
    font-weight: bolder;
    font-size: 30px;
    color: #4e2604;
    text-transform: uppercase;
}
.main-section-two-images{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.main-section-three{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.423);
    margin: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.main-section-three img{
     width: 40%;
}
.main-section-three div{
    width: 40%;
}